/* login */

.login_left {
    width: 1920px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  .login_left .el-image {
    height: 100vh;
    width: 100%;
  }
  .login_right {
    width: 960px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 2;
  }
  .qrcode_view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 195px;
    background: rgba(241, 241, 241, 1);
    border-radius: 20px;
  }
  .Scan_me{
      width: 195px;
      height: 195px;
  }
  .login_right_tab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 79px;
  }
  .login_right_tab p {
    font-size: 48px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(189, 189, 189, 1);
    height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .login_right_tab p:last-child {
    margin-left: 81px;
  }
  .login_right_tab_active {
    color: #545dff !important ;
     border-bottom: 9px solid #545DFF;
  }
  .qrcode_bg {
    width: 293px;
    height: 293px;
    background: rgba(241, 241, 241, 1);
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login_text {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    align-items: center;
    justify-content: center;
  }
  .login_text p:nth-child(1) {
    font-size: 44px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(32, 32, 32, 1);
  }
  .login_text p:nth-child(2) {
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(189, 189, 189, 1);
    margin-top: 6px;
  }

/* classindex */
.CLassIndex {
    display: flex;
    align-items: center;
    padding: 0px 75px 0px 50px;
    box-sizing: border-box;
    
  }
  .CLassIndex_Left {
    width: 857px;
    height: 100%;
    /* margin-top: 150px; */
    height: 80vh;
  }
  .CLassIndex_Right {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 150px;
  
  }
  
  .CLassIndex_Right_Top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 86px;
    padding-right: 75px;
    box-sizing: border-box;
  }
  .CLassIndex_Right_Top_Left {
    display: flex;
  }
  .CLassIndex_Right_Top img {
    width: 120px;
    height: 120px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    margin-right: 19px;
  }
  .CLassIndex_Right_Top_Msg {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
  }
  .CLassIndex_Right_Top_Msg p:nth-child(1) {
    font-size: 36px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(32, 32, 32, 1);
    margin-bottom: 9px;
  }
  .CLassIndex_Right_Top_Msg p:nth-child(2) {
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(189, 189, 189, 1);
  }
  .el-scrollbar .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .el-tree-node>.el-tree-node__children{
     overflow:visible !important;
   }
  .scroll_view {
    height: 500px;
    width: 100%;
  }
  .ListTitle {
    display: flex;
    align-items: center;
    border-left: 15px solid #545dff;
    box-sizing: border-box;
    padding-left: 14px;
    font-size: 30px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(32, 32, 32, 1);
    margin-bottom: 30px;
    margin-left: 86px;
  }
  .ListView {
    width: 100%;
    padding-left: 86px;
    box-sizing: border-box;
  }
  .ListItem {
    width: 100%;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 15px 0px rgba(27, 27, 78, 0.05);
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
  }
  .ListParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
  }
  .ListItem > div {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 32px 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
  }
  .ListParentChildViewTop,
  .ListParentChildViewBot {
      display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .ListParentChildViewTop p:nth-child(1) {
    font-size: 36px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(32, 32, 32, 1);
  }
  .ListParentChildViewTop p:nth-child(2) {
    font-size: 24px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(32, 32, 32, 1);
  }
  .ListParentChildViewBot p:nth-child(1) {
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(135, 139, 148, 1);
  }
  .ListParentChildViewBot p:nth-child(2) {
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(135, 139, 148, 1);
  }
  
  /* 日历 */
  .el-calendar__title {
    font-size: 26px;
  }
  .el-calendar-table td {
    border: none;
    width: 60px;
  }
  .el-calendar-table .el-calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0;
    margin: 0;
    /* height: auto; */
  }
  /* .el-calendar-table td.is-selected{
    background: #409EFF;
  } */
  
  .el-calendar__header {
    
    display: flex;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-bottom: 80px;
    border-bottom: none;
    
  }
  .el-calendar-table .el-calendar-day {
    padding: 0;
  }
  .el-calendar-table tr td:first-child {
    border: none;
  }
  .el-calendar-table tr:first-child td {
    border: none;
  }
  .el-calendar-table thead th {
    text-align: center;
    height: 80px;
  }
  .el-calendar__body {
    padding: 0;
  }
  .el-button {
    border: 1px solid #dcdfe6;
    padding: 12px 20px;
  }
  tbody {
    border: none;
  }
  .ResetLogin {
    font-size: 30px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(164, 169, 255, 1);
  }


  /* examlist */
  .ExamList {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
  }
  .exam_list_left {
    width: 1118px;
    height: 100%;
    background: #f8f8ff;
    padding: 30px 100px;
    box-sizing: border-box;
  }
  .exam_list_right {
    display: flex;
    padding: 54px 0px;
    width: 732px;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
  }
  .file_list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .el-tree-node>.el-tree-node__children{
     overflow:visible !important;
   }
   
  .file_list > p {
    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 3, 54, 1);
    margin-bottom: 40px;
  }
  .file_list_view {
    display: flex;
    flex-wrap: wrap;
  }
  .file_list_view > div {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .file_list_view > div img {
    width: 54px;
    height: 54px;
    margin-bottom: 12px;
  }
  .exam_list_view {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
  }
  .exam_list_view > p {
    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 3, 54, 1);
    margin-bottom: 16px;
  }
  .scroll_view {
    height: 800px;
    width: 702px;
  }
  .exam_list_view_item {
    height: 200px;
    display: flex;
    width: 540px;
    border-bottom: 2px solid #ecedf1;
    margin-bottom: 50px;
  }
  .exam_list_view_item img {
    width: 61px;
    height: 61px;
    margin-right: 36px;
  }
  .exam_list_view_item_right {
    display: flex;
    flex-direction: column;
  }
  .exam_list_view_item_right_title {
    font-size: 25px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(32, 32, 32, 1);
  }
  .exam_list_view_item_right_num {
    font-size: 22px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(100, 100, 100, 1);
    margin-top: 15px;
  }
  .exam_list_view_item_right_edit {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
  }
  .ExamList .el-button {
    width: 90px;
    height: 50px;
    box-shadow: 0px 9px 27px 0px rgba(84, 93, 255, 0.3);
    border-radius: 9px;
    margin-right: 36px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .exam_list_left_title{
  font-size:38px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(32,32,32,1);
  margin-bottom: 54px;
  }
  .exam_list_left_text{
  font-size:32px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(32,32,32,1);
  }